<?xml version="1.0"?>

<model>
  <name>Solar_panel </name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Martim Braga</name>
    <email>martim.garad.braga@gmail.com</email>
  </author>

  <description>
    A solar panel.
	Massatron P. 3D Warehouse model
  </description>
</model>

